
	/*padding : 10px 10px 10px 10px;/*arriba,derecha,abajo,izqda*/
	/*margin: 0px 0px 0px 0px;*/
	/*border: 1px solid red;*/	
	/*background-image: url("images/logoDaw.png");*/
	
body{
	text-align: center;/*importante, si solo hay un elemento no hace falta float center*/
}
	
#bloqueImagen{	
	width:auto;	
	min-width:1200px;	
	background-color:#66cdaa;
}	
	
.logo{
	margin: 20px 0px 20px 0px;	
	height:120px;		
}

#navegador {	
	padding : 5px 0px 5px 0px;
	width:auto;
	min-width:1200px;/*con esto consigo que no se me apelotonen los enlaces del navegador*/		
	background-color: #F1F1CA;
}

.enlace{	
	padding : 0px 15px 0px 15px;
	float:left-center;	
	font: bold 1.2em calibri;	
	color: #0C4132;		
}

#bloqueMedio{	
	padding-top:30px;
	padding-bottom:30px;
	width:auto;
	min-width:1200px;
	background-image: url("images/brighton2_70.png");	
}

fieldset{
	margin:auto;/*la clave de todos los float centers junto con float center*/	
	padding : 0px 20px 20px 20px;
	width:700px;	
	height:70px;
	background-color:#F1F1CA;
	border-radius: 30px;
}

legend{
	padding:0px 20px 0px 20px;
	background-color:#F1F1CA;
	font: 1.2em calibri;
	text-align:left;
	font-style: italic;
	border: 1px solid black;
	
}

.etiqueta{
	font: 1.1em calibri;
	text-align:left;
	font-style: italic;
}

#usuario #password{
	size:25;
	maxlength:50;
}

text{
	margin: 0px 20px 0px 20px;
}

#contPresentacion{	
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	margin-bottom:40px;		
	height:700px;
	width:1200px;	
	border-radius: 30px;
	background-color:white;
}

.logoGrande{	
	margin-top:120px;
	margin-left:20px;
	height:450px;
	width:450px;
	float:left;	
}

#presentacion{	

	padding:20px;
	margin-right:20px;
	height:630px;
	width:620px;	
	text-align:left;
	float:right;
}

.titulo{
	font: bold 1.4em calibri;	
}

p{
	text-indent: 15px;	
	font: 1.2em calibri;	
}

#pie{
		
	width:auto;
	min-width:1200px;
	height:20px;	
	font:1em calibri;	
}

.pieIzquierdo{
	margin-left:10px;	
	font-style: italic;
	float:left;
	
}

.pieDerecho{
	margin-right:20px;
	font-style: italic;
	float:right;
	
}






