body{
	text-align: center;/*importante, si solo hay un elemento no hace falta float center*/
}
	
#bloqueImagen{	
	width:auto;	
	min-width:1350px;	
	background-color:#66cdaa;
}	
	
.logo{
	margin: 20px 0px 20px 0px;	
	height:120px;		
}

#navegador {	
	padding : 5px 0px 5px 0px;
	width:auto;
	min-width:1350px;/*con esto consigo que no se me apelotonen los enlaces del navegador*/		
	background-color: #F1F1CA;
}

.enlace{	
	padding : 0px 15px 0px 15px;
	float:left-center;	
	font: bold 1.2em arial;	
	color: #0C4132;		
}

#bloqueMedio{	
	margin-left: auto;
	margin-right: auto;

	padding : 10px 10px 10px 10px;	
	background-color:white;
}

.destino{
	margin:auto;
	width:1350px;
	height:700px;	
}

.cajaDestino{
	width: 600px;
	height:600px;
	margin: 30px 30px 30px 30px;	
	border-radius: 30px;
}

.cajaDestinoIzquierda{	
	float:left;	
}

.cajaDestinoDerecha{	
	float:right;	
}






.titulo{
	padding: 10px 30px 0px 30px;
}

#parrafoInferior{
	margin-top:30px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	padding-left:50px;
	
	width:1280px;
	font: 2.5em arial;
	font-style: italic;
}


#pie{
		
	width:auto;
	min-width:1350px;
	height:20px;	
	font:0.8em arial;	
}

.pieIzquierdo{
	margin-left:10px;	
	font-style: italic;
	float:left;
	
}

.pieDerecho{
	margin-right:20px;
	font-style: italic;
	float:right;
	
}

h1{
	font: 1.3em  arial;
	text-align:left;
}

p{
	
	padding: 0px 30px 0px 30px;
	font: 1.1em arial;
	text-align:left;
	text-indent:15px;
}

