body{
	text-align: center;
}

#bloques {/* bloque que coge todos los divs*/
	
	
	
	border: 1px solid red;
}

#bloqueSuperior{/*div que coge div imagen y div navegador*/
	
	
	/*border: 1px solid red;*/
	
}
#bloqueImagen {
	
	/*padding : 10px 10px 10px 10px;/*arriba,derecha,abajo,izqda*/
	
	height:106px;
	/*width:700px; esto tengo que quitarlo para que el elemento se adapte a la pagina*/
	
	/*border: 1px solid red;*/
	margin: 0px 0px 0px 0px;
	background-image: url("superior.jpg");
}


#navegador{
	height:30px;
	/*width:700px; esto tengo que quitarlo para que el elemento se adapte a la pagina*/
	/*background-color: purple;
	background: linear-gradient(red,pink);*/
	/*background-image: url("gris.jpg");*/
	background-color: red;
	padding: : 10px 10px 10px 10px;
	/*border: 1px solid red;*/
}


.enlace{
	
	font: bold 1.2em arial;
	float:left;
	margin-top: 5px;
	margin-bottom: 5px;
	padding : 0px 0px 0px 15px;
	
}

#bloqueMedio{
	
	padding : 10px 10px 10px 10px;
	
}

#formulario{
	margin: 30px 0px 0px 30px;
	float:left;
}

#presentacion{
	margin: 30px 30px 0px 00px;
	width: 500px;
	float:right;
}

.parrafo{
	font: 1.1em arial;
	text-align:left;
}

.titulo{
	font: 1.4em arial;
	text-align:left;
}
