body{
	text-align: center;/*importante, si solo hay un elemento no hace falta float center*/
}
	
#bloqueSuperior{
	margin-bottom:100px;
}	
	
#bloqueImagen{	
	width:auto;	
	min-width:1000px;	
	background-color:#66cdaa;
}	
	
.logo{
	margin: 20px 0px 20px 0px;	
	height:120px;		
}

#navegador {	
	padding : 5px 0px 5px 0px;
	width:auto;
	min-width:1000px;/*con esto consigo que no se me apelotonen los enlaces del navegador*/		
	background-color: #F1F1CA;
}

.enlace{	
	padding : 0px 15px 0px 15px;
	float:left-center;	
	font: bold 1.2em calibri;	
	color: #0C4132;		
}

#bloqueMedio{	
	background-color: white ;/*#D7DBDD*/
	min-width:1000px;
	margin-bottom:50px;
}

.compania{
	margin:auto;
	min-width:1000px;
}

.imagenCompania{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	height: 220px;
	
	
	
	/*border: 1px solid red;*/
}

#pie{
		
	width:auto;
	min-width:1000px;
	height:20px;	
	font:1em calibri;	
}

.pieIzquierdo{
	margin-left:10px;	
	font-style: italic;
	float:left;
	
}

.pieDerecho{
	margin-right:20px;
	font-style: italic;
	float:right;
	
}





