body{
	text-align: center;
}

#bloques {/* bloque que coge todos los divs*/	
}

#bloqueSuperior{/*div que coge div imagen y div navegador*/	
	/*border: 1px solid red;*/	
}

#bloqueImagen {	
	/*padding : 10px 10px 10px 10px;/*arriba,derecha,abajo,izqda*/
	/*margin: 0px 0px 0px 0px;*/
	/*border: 1px solid red;*/
	height:106px;	
	background-image: url("superior.jpg");
}

#navegador{
	height:35px;	
	width:2500px;
	/*background-color: purple;
	background: linear-gradient(red,pink);*/
	/*background-image: url("gris.jpg");*/
	background-color: #F1F1CA;
	padding: : 10px 10px 10px 10px;
}

.enlace{	
	font: bold 1.2em arial;
	float:left;
	margin-top: 5px;
	margin-bottom: 5px;
	padding : 0px 0px 0px 15px;	
	color: #0C4132;
}

#bloqueMedio{	
	background-color: white ;/*#D7DBDD*/
	padding : 10px 10px 10px 10px;	
}

.imagenCompania{
	margin: 50px 50px 50px 50px;
	/*height: 220px;*/
	width:300px;
	float: center;
	/*border: 1px solid red;*/
}

h1{
	font: 1.3em  arial;
	text-align:left;	
}

p{
	padding: 0px 30px 0px 30px;
	font: 1em arial;
	text-align:left;
	text-indent:15px;
	float: right;
}



